{% extends "layout.html" %}
{% block content %}
    <h1>Please Login:</h1>
    <form action="/login" method="POST" class="form">
                        {{ form.csrf_token }}
                        {% for input in form %}
                            {% if input.name != 'csrf_token' %}
                                <div class="form-group">
                                    <label for='{{ input.name }}'>{{ input.label }}: </label> {{ input(class_='form-control', id_=input.name) }}<br>
                                </div>
                                {% if input.errors %}
                        <ul class=errors>
                        {% for error in input.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                            </ul>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <button type="submit" class="button">Login</button>
                    </form>
    {{ msg }}

{% endblock %}