{% extends "layout.html" %}
{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h1>Manage Tutor Availabilities</h1>
            <table class="table" id="tutoravailabilities">
                <thead>
                <td>Tutor Name</td>
                <td>Num. Assigned Classes</td>
                <td>Num. Available Times</td>
                {% for timeslot in timeslots %}
                    <td>{{ timeslot.day }} {{ timeslot.time }}</td>
                {% endfor %}
                </thead>
                {% for tutor in tutors %}
                    <tr>
                        {% if tutor.num_available_times() >= tutor.num_hours() %}
                        <td><a href="{{ url_for('view_tutor',tutorid = tutor.id) }}">{{ tutor.name }}</a></td>

                        <td>{{ tutor.num_hours() }}</td>
                        <td>{{ tutor.num_available_times() }}</td>
                        {% else %}
                        <td class="notattended"><a href="{{ url_for('view_tutor',tutorid = tutor.id) }}">{{ tutor.name }}</a></td>
                        <td class="notattended">{{ tutor.num_hours() }}</td>
                        <td class="notattended">{{ tutor.num_available_times() }}</td>
                        {% endif %}
                        {% for timeslot in timeslots %}
                            {% if  timeslot in tutor.availabletimes %}
                                <td class="attended" id="slot/{{ timeslot.id }}/{{ tutor.id }}"
                                    onclick="updateAvailability({{ timeslot.id }},{{ tutor.id }},'slot/{{ timeslot.id }}/{{ tutor.id }}')"></td>
                            {% else %}
                                <td class="notattended" id="slot/{{ timeslot.id }}/{{ tutor.id }}"
                                    onclick="updateAvailability({{ timeslot.id }},{{ tutor.id }},'slot/{{ timeslot.id }}/{{ tutor.id }}')"></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <script>


        function updateAvailability(timeslotid, tutorid, id) {
            $.ajax({
                url: "/updatetutoravailabilityajax",
                data: {timeslotid: timeslotid, tutorid: tutorid},
                type: "POST",
                dataType: "json",
                success: function (data) {
                    var x = document.getElementById(id);
                    if (x.className == "attended") {
                        x.className = "notattended";
                    } else if (x.className == "notattended") {
                        x.className = "attended";
                    }
                },
                error: function () {

                }
            });
        }


    </script>



{% endblock %}