{% extends "layout.html" %}
{% block content %}
    <h1>Users</h1>
    {{ msg }}
    <div class="row">
        <div class="col-md-12">
            <table class="table" id="users">
                <thead>
                <td>Username</td>
                <td>Mapped Tutor</td>
                <td>Admin User?</td>
                </thead>
            </table>
            {% if current_user.is_admin == '1' %}

                <button type="button" class="button" data-toggle="modal" data-target="#addUserModal">Add User</button>

            {% endif %}
        </div>
    </div>

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">

    <div id="addUserModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button-delete" class="close" data-dismiss="modal">Close</button>
                    <h4>Add a User</h4>
                    <div class="modal-body">
                        <form action="/register" method="POST" class="form">
                            {{ form.csrf_token }}
                            {% for input in form %}
                                {% if input.name != 'csrf_token' %}
                                    <div class="form-group">
                                        <label for='{{ input.name }}'>{{ input.label }}: </label> {{ input(class_='form-control', id_=input.name) }}<br>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <button type="submit" class="button">Add User</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

        $(document).ready(function () {
            $('#users').DataTable({
                "ajax": {
                    "url": '/viewusersajax',
                    "type": 'GET'
                },
                "columns": [{
                    "data": "name", "render": function (data, type, row, meta) {
                        return "<a href='/viewuser%3Fusername%3D" + row.username + "'>" + row.username + "</a>";
                    }
                }, {
                    "data": "mappedtutor", "render": function (data, type, row, meta) {
                        if (row.tutor) {
                            return row.tutor.name;
                        } else {
                            return ""
                        }

                    }
                }, {
                    "data": "isadmin", "render": function (data, type, row, meta) {
                        if (row.is_admin == 1) {
                            return "Yes"
                        } else {
                            return "No"
                        }
                    }
                }]
            });
        });
    </script>

{% endblock %}